[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
types-requests="*"
dictdiffer = "*"

[dev-packages]
setuptools=">=61.3.1"
wheel=">=0.37.1"
twine=">=3.8.0"
pre-commit=">=2.20.0"
autoflake=">=1.7.7"
mypy = "==0.991"
pytest = "==7.2.0"
black = ">=22.10.0"
pipenv-setup = ">=3.2.0"
vistir="==0.6.1" # https://github.com/Madoshakalaka/pipenv-setup/issues/138

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = false
