[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
types-requests="*"
deepdiff = "*"

[dev-packages]
# setuptools is needed for building the package
setuptools=">=72.0.0"
# wheel is needed for building the package
wheel = ">=0.43.0"
# twine is needed for uploading the package to PyPI
twine=">=5.1.1"
# pre-commit is needed for running code quality checks
pre-commit=">=3.7.1"
# autoflake is needed for removing unused imports
autoflake=">=2.3.1"
# mypy is needed for type checking
mypy = ">=1.11.1"
# pytest is needed for running tests
pytest = ">=8.2.2"
# black is needed for formatting code
black = ">=24.4.2"
# aiohttp is needed for making HTTP requests asynchronously
aiohttp = ">=3.10.0"
# pytest-ayncio is needed for running async tests
pytest-asyncio = ">=0.23.8"


[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = false
